# Ignore virtual environments
xmmenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store


.github/workflows/deploy-docs.yml

# Ignore data files or logs (if desired)
#020301020/
#data/
